<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Elements.Settings</string>
		<key>Name</key>
		<string>Karabiner-Elements</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-Elements.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Settings</string>
		<key>NewFile</key>
		<string>/System/Applications/System Settings.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.gnu.Emacs</string>
		<key>Name</key>
		<string>Emacs</string>
		<key>NewFile</key>
		<string>/opt/homebrew/Cellar/emacs-mac/emacs-29.1-mac-10.0/Emacs.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.teams2</string>
		<key>Name</key>
		<string>Microsoft Teams (work or school)</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Teams (work or school).app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Outlook</string>
		<key>Name</key>
		<string>Microsoft Outlook</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Outlook.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Terminal</string>
		<key>Name</key>
		<string>Terminal</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Terminal.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.brave.Browser</string>
		<key>Name</key>
		<string>Brave Browser</string>
		<key>NewFile</key>
		<string>/Applications/Brave Browser.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iWork.Numbers</string>
		<key>Name</key>
		<string>Numbers</string>
		<key>NewFile</key>
		<string>/Applications/Numbers.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>Name</key>
		<string>Keyboard Maestro</string>
		<key>NewFile</key>
		<string>/Applications/Keyboard Maestro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.openai.chat</string>
		<key>Name</key>
		<string>ChatGPT</string>
		<key>NewFile</key>
		<string>/Applications/ChatGPT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.freemacsoft.AppCleaner</string>
		<key>Name</key>
		<string>AppCleaner</string>
		<key>NewFile</key>
		<string>/Applications/AppCleaner.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.neo4j.neo4j-desktop</string>
		<key>Name</key>
		<string>Neo4j Desktop</string>
		<key>NewFile</key>
		<string>/Applications/Neo4j Desktop.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.TextEdit</string>
		<key>Name</key>
		<string>TextEdit</string>
		<key>NewFile</key>
		<string>/System/Applications/TextEdit.app</string>
	</dict>
</array>
</plist>
