<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.gnu.Emacs</string>
		<key>Name</key>
		<string>Emacs</string>
		<key>NewFile</key>
		<string>/opt/homebrew/Cellar/emacs-mac/emacs-29.1-mac-10.0/Emacs.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>company.thebrowser.Browser</string>
		<key>Name</key>
		<string>Arc</string>
		<key>NewFile</key>
		<string>/Applications/Arc.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Terminal</string>
		<key>Name</key>
		<string>Terminal</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Terminal.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.archiveutility</string>
		<key>Name</key>
		<string>Archive Utility</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Applications/Archive Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Settings</string>
		<key>NewFile</key>
		<string>/System/Applications/System Settings.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.TextEdit</string>
		<key>Name</key>
		<string>TextEdit</string>
		<key>NewFile</key>
		<string>/System/Applications/TextEdit.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.vim.MacVim</string>
		<key>Name</key>
		<string>MacVim</string>
		<key>NewFile</key>
		<string>/Applications/MacVim.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Preview</string>
		<key>Name</key>
		<string>Preview</string>
		<key>NewFile</key>
		<string>/System/Applications/Preview.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.mail</string>
		<key>Name</key>
		<string>Mail</string>
		<key>NewFile</key>
		<string>/System/Applications/Mail.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Safari</string>
		<key>Name</key>
		<string>Safari</string>
		<key>NewFile</key>
		<string>/System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.vscodium</string>
		<key>Name</key>
		<string>VSCodium</string>
		<key>NewFile</key>
		<string>/Applications/VSCodium.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iCal</string>
		<key>Name</key>
		<string>Calendar</string>
		<key>NewFile</key>
		<string>/System/Applications/Calendar.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.reminders</string>
		<key>Name</key>
		<string>Reminders</string>
		<key>NewFile</key>
		<string>/System/Applications/Reminders.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Notes</string>
		<key>Name</key>
		<string>Notes</string>
		<key>NewFile</key>
		<string>/System/Applications/Notes.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Music</string>
		<key>Name</key>
		<string>Music</string>
		<key>NewFile</key>
		<string>/System/Applications/Music.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.colliderli.iina</string>
		<key>Name</key>
		<string>IINA</string>
		<key>NewFile</key>
		<string>/Applications/IINA.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.neo4j.neo4j-desktop</string>
		<key>Name</key>
		<string>Neo4j Desktop</string>
		<key>NewFile</key>
		<string>/Applications/Neo4j Desktop.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.teams2</string>
		<key>Name</key>
		<string>Microsoft Teams</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Teams.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.onenote.mac</string>
		<key>Name</key>
		<string>Microsoft OneNote</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft OneNote.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.shortcuts</string>
		<key>Name</key>
		<string>Shortcuts</string>
		<key>NewFile</key>
		<string>/System/Applications/Shortcuts.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.MobileSMS</string>
		<key>Name</key>
		<string>Messages</string>
		<key>NewFile</key>
		<string>/System/Applications/Messages.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.agiletortoise.Drafts-OSX</string>
		<key>Name</key>
		<string>Drafts</string>
		<key>NewFile</key>
		<string>/Applications/Drafts.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>us.zoom.xos</string>
		<key>Name</key>
		<string>zoom</string>
		<key>NewFile</key>
		<string>/Applications/zoom.us.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Chrome</string>
		<key>Name</key>
		<string>Google Chrome</string>
		<key>NewFile</key>
		<string>/Applications/Google Chrome.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.freeform</string>
		<key>Name</key>
		<string>Freeform</string>
		<key>NewFile</key>
		<string>/System/Applications/Freeform.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iWork.Numbers</string>
		<key>Name</key>
		<string>Numbers</string>
		<key>NewFile</key>
		<string>/Applications/Numbers.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ScriptEditor2</string>
		<key>Name</key>
		<string>Script Editor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Script Editor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Word</string>
		<key>Name</key>
		<string>Microsoft Word</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Word.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ActivityMonitor</string>
		<key>Name</key>
		<string>Activity Monitor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Activity Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.goodsnooze.MacWhisper</string>
		<key>Name</key>
		<string>MacWhisper</string>
		<key>NewFile</key>
		<string>/Applications/MacWhisper.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>Name</key>
		<string>Keyboard Maestro</string>
		<key>NewFile</key>
		<string>/Applications/Keyboard Maestro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.openai.chat</string>
		<key>Name</key>
		<string>ChatGPT</string>
		<key>NewFile</key>
		<string>/Applications/ChatGPT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>imagetasks.Pixea</string>
		<key>Name</key>
		<string>Pixea</string>
		<key>NewFile</key>
		<string>/Applications/Pixea.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.QuickTimePlayerX</string>
		<key>Name</key>
		<string>QuickTime Player</string>
		<key>NewFile</key>
		<string>/System/Applications/QuickTime Player.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.brave.Browser</string>
		<key>Name</key>
		<string>Brave Browser</string>
		<key>NewFile</key>
		<string>/Applications/Brave Browser.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.FaceTime</string>
		<key>Name</key>
		<string>FaceTime</string>
		<key>NewFile</key>
		<string>/System/Applications/FaceTime.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AppStore</string>
		<key>Name</key>
		<string>App Store</string>
		<key>NewFile</key>
		<string>/System/Applications/App Store.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AddressBook</string>
		<key>Name</key>
		<string>Contacts</string>
		<key>NewFile</key>
		<string>/System/Applications/Contacts.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Dictionary</string>
		<key>Name</key>
		<string>Dictionary</string>
		<key>NewFile</key>
		<string>/System/Applications/Dictionary.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.freemacsoft.AppCleaner</string>
		<key>Name</key>
		<string>AppCleaner</string>
		<key>NewFile</key>
		<string>/Applications/AppCleaner.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Elements.Settings</string>
		<key>Name</key>
		<string>Karabiner-Elements</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-Elements.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.printcenter</string>
		<key>Name</key>
		<string>Print Center</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Print Center.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.dexterleng.ProNotes</string>
		<key>Name</key>
		<string>ProNotes</string>
		<key>NewFile</key>
		<string>/Applications/ProNotes.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.raycast.macos</string>
		<key>Name</key>
		<string>Raycast</string>
		<key>NewFile</key>
		<string>/Applications/Raycast.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.superultra.Homerow</string>
		<key>Name</key>
		<string>Homerow</string>
		<key>NewFile</key>
		<string>/Applications/Homerow.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.installer</string>
		<key>Name</key>
		<string>Installer</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Installer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.crowdstrike.falcon.App</string>
		<key>Name</key>
		<string>Falcon</string>
		<key>NewFile</key>
		<string>/Applications/Falcon.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iBooksX</string>
		<key>Name</key>
		<string>Books</string>
		<key>NewFile</key>
		<string>/System/Applications/Books.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.calculator</string>
		<key>Name</key>
		<string>Calculator</string>
		<key>NewFile</key>
		<string>/System/Applications/Calculator.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.omnigroup.OmniGraffle7</string>
		<key>Name</key>
		<string>OmniGraffle</string>
		<key>NewFile</key>
		<string>/Applications/OmniGraffle.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.airport.airportutility</string>
		<key>Name</key>
		<string>AirPort Utility</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/AirPort Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Home</string>
		<key>Name</key>
		<string>Home</string>
		<key>NewFile</key>
		<string>/System/Applications/Home.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Automator</string>
		<key>Name</key>
		<string>Automator</string>
		<key>NewFile</key>
		<string>/System/Applications/Automator.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.keychainaccess</string>
		<key>Name</key>
		<string>Keychain Access</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Keychain Access.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>edu.ucsd.cs.mmccrack.bibdesk</string>
		<key>Name</key>
		<string>BibDesk</string>
		<key>NewFile</key>
		<string>/Applications/TeX/BibDesk.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Outlook</string>
		<key>Name</key>
		<string>Microsoft Outlook</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft Outlook.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.brettterpstra.marked2</string>
		<key>Name</key>
		<string>Marked 2</string>
		<key>NewFile</key>
		<string>/Applications/Marked 2.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.microsoft.Powerpoint</string>
		<key>Name</key>
		<string>Microsoft PowerPoint</string>
		<key>NewFile</key>
		<string>/Applications/Microsoft PowerPoint.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.weather</string>
		<key>Name</key>
		<string>Weather</string>
		<key>NewFile</key>
		<string>/System/Applications/Weather.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.news</string>
		<key>Name</key>
		<string>News</string>
		<key>NewFile</key>
		<string>/System/Applications/News.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>fr.chachatelier.pierre.LaTeXiT</string>
		<key>Name</key>
		<string>LaTeXiT</string>
		<key>NewFile</key>
		<string>/Applications/TeX/LaTeXiT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.pixelmatorteam.pixelmator.x</string>
		<key>Name</key>
		<string>Pixelmator Pro</string>
		<key>NewFile</key>
		<string>/Applications/Pixelmator Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.clock</string>
		<key>Name</key>
		<string>Clock</string>
		<key>NewFile</key>
		<string>/System/Applications/Clock.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ColorSyncUtility</string>
		<key>Name</key>
		<string>ColorSync Utility</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/ColorSync Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.DigitalColorMeter</string>
		<key>Name</key>
		<string>Digital Color Meter</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Digital Color Meter.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.sascha-simon.buster</string>
		<key>Name</key>
		<string>Ghost Buster Pro</string>
		<key>NewFile</key>
		<string>/Applications/Ghost Buster Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.withopal.opalmacos</string>
		<key>Name</key>
		<string>Opal</string>
		<key>NewFile</key>
		<string>/Applications/Opal.app</string>
	</dict>
</array>
</plist>
