<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.finder</string>
		<key>Name</key>
		<string>Finder</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Finder.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Terminal</string>
		<key>Name</key>
		<string>Terminal</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Terminal.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>company.thebrowser.Browser</string>
		<key>Name</key>
		<string>Arc</string>
		<key>NewFile</key>
		<string>/Applications/Arc.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.gnu.Emacs</string>
		<key>Name</key>
		<string>Emacs</string>
		<key>NewFile</key>
		<string>/opt/homebrew/Cellar/emacs-mac/emacs-29.1-mac-10.0/Emacs.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.systempreferences</string>
		<key>Name</key>
		<string>System Settings</string>
		<key>NewFile</key>
		<string>/System/Applications/System Settings.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.TextEdit</string>
		<key>Name</key>
		<string>TextEdit</string>
		<key>NewFile</key>
		<string>/System/Applications/TextEdit.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>fr.chachatelier.pierre.LaTeXiT</string>
		<key>Name</key>
		<string>LaTeXiT</string>
		<key>NewFile</key>
		<string>/Applications/TeX/LaTeXiT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.dexterleng.ProNotes</string>
		<key>Name</key>
		<string>ProNotes</string>
		<key>NewFile</key>
		<string>/Applications/ProNotes.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.pqrs.Karabiner-Elements.Settings</string>
		<key>Name</key>
		<string>Karabiner-Elements</string>
		<key>NewFile</key>
		<string>/Applications/Karabiner-Elements.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.FaceTime</string>
		<key>Name</key>
		<string>FaceTime</string>
		<key>NewFile</key>
		<string>/System/Applications/FaceTime.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.m0k.transmission</string>
		<key>Name</key>
		<string>Transmission</string>
		<key>NewFile</key>
		<string>/Applications/Transmission.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Safari</string>
		<key>Name</key>
		<string>Safari</string>
		<key>NewFile</key>
		<string>/System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.colliderli.iina</string>
		<key>Name</key>
		<string>IINA</string>
		<key>NewFile</key>
		<string>/Applications/IINA.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.FinalCut</string>
		<key>Name</key>
		<string>Final Cut Pro</string>
		<key>NewFile</key>
		<string>/Applications/Final Cut Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.obsproject.obs-studio</string>
		<key>Name</key>
		<string>OBS</string>
		<key>NewFile</key>
		<string>/Applications/OBS.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.hnc.Discord</string>
		<key>Name</key>
		<string>Discord</string>
		<key>NewFile</key>
		<string>/Applications/Discord.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.QuickTimePlayerX</string>
		<key>Name</key>
		<string>QuickTime Player</string>
		<key>NewFile</key>
		<string>/System/Applications/QuickTime Player.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.videolan.vlc</string>
		<key>Name</key>
		<string>VLC</string>
		<key>NewFile</key>
		<string>/Applications/VLC.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.google.Chrome</string>
		<key>Name</key>
		<string>Google Chrome</string>
		<key>NewFile</key>
		<string>/Applications/Google Chrome.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>tw.ogdesign.eagle</string>
		<key>Name</key>
		<string>Eagle</string>
		<key>NewFile</key>
		<string>/Applications/Eagle.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.freemacsoft.AppCleaner</string>
		<key>Name</key>
		<string>AppCleaner</string>
		<key>NewFile</key>
		<string>/Applications/AppCleaner.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.AppStore</string>
		<key>Name</key>
		<string>App Store</string>
		<key>NewFile</key>
		<string>/System/Applications/App Store.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Music</string>
		<key>Name</key>
		<string>Music</string>
		<key>NewFile</key>
		<string>/System/Applications/Music.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>Name</key>
		<string>Keyboard Maestro</string>
		<key>NewFile</key>
		<string>/Applications/Keyboard Maestro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.python.python</string>
		<key>Name</key>
		<string>Python</string>
		<key>NewFile</key>
		<string>/opt/homebrew/Cellar/python@3.12/3.12.4/Frameworks/Python.framework/Versions/3.12/Resources/Python.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Notes</string>
		<key>Name</key>
		<string>Notes</string>
		<key>NewFile</key>
		<string>/System/Applications/Notes.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>io.github.keycastr</string>
		<key>Name</key>
		<string>KeyCastr</string>
		<key>NewFile</key>
		<string>/Applications/KeyCastr.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.mail</string>
		<key>Name</key>
		<string>Mail</string>
		<key>NewFile</key>
		<string>/System/Applications/Mail.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.shortcuts</string>
		<key>Name</key>
		<string>Shortcuts</string>
		<key>NewFile</key>
		<string>/System/Applications/Shortcuts.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.reminders</string>
		<key>Name</key>
		<string>Reminders</string>
		<key>NewFile</key>
		<string>/System/Applications/Reminders.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.goodsnooze.MacWhisper</string>
		<key>Name</key>
		<string>MacWhisper</string>
		<key>NewFile</key>
		<string>/Applications/MacWhisper.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Preview</string>
		<key>Name</key>
		<string>Preview</string>
		<key>NewFile</key>
		<string>/System/Applications/Preview.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>tv.plex.player</string>
		<key>Name</key>
		<string>Plex Media Player</string>
		<key>NewFile</key>
		<string>/Applications/Plex Media Player.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.omnigroup.OmniGraffle7</string>
		<key>Name</key>
		<string>OmniGraffle</string>
		<key>NewFile</key>
		<string>/Applications/OmniGraffle.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.archiveutility</string>
		<key>Name</key>
		<string>Archive Utility</string>
		<key>NewFile</key>
		<string>/System/Library/CoreServices/Applications/Archive Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.superultra.Homerow</string>
		<key>Name</key>
		<string>Homerow</string>
		<key>NewFile</key>
		<string>/Applications/Homerow.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iBooksX</string>
		<key>Name</key>
		<string>Books</string>
		<key>NewFile</key>
		<string>/System/Applications/Books.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>imagetasks.Pixea</string>
		<key>Name</key>
		<string>Pixea</string>
		<key>NewFile</key>
		<string>/Applications/Pixea.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>net.kovidgoyal.calibre</string>
		<key>Name</key>
		<string>calibre</string>
		<key>NewFile</key>
		<string>/Applications/calibre.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.calibre-ebook.ebook-viewer</string>
		<key>Name</key>
		<string>ebook-viewer</string>
		<key>NewFile</key>
		<string>/Applications/calibre.app/Contents/ebook-viewer.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.oecoway.friendlynetflix</string>
		<key>Name</key>
		<string>Friendly Streaming</string>
		<key>NewFile</key>
		<string>/Applications/Friendly Streaming.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.MobileSMS</string>
		<key>Name</key>
		<string>Messages</string>
		<key>NewFile</key>
		<string>/System/Applications/Messages.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.underpassapp.StopTheMadness</string>
		<key>Name</key>
		<string>StopTheMadness</string>
		<key>NewFile</key>
		<string>/Applications/StopTheMadness.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.openai.chat</string>
		<key>Name</key>
		<string>ChatGPT</string>
		<key>NewFile</key>
		<string>/Applications/ChatGPT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iCal</string>
		<key>Name</key>
		<string>Calendar</string>
		<key>NewFile</key>
		<string>/System/Applications/Calendar.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.pixelmatorteam.pixelmator.x</string>
		<key>Name</key>
		<string>Pixelmator Pro</string>
		<key>NewFile</key>
		<string>/Applications/Pixelmator Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Photos</string>
		<key>Name</key>
		<string>Photos</string>
		<key>NewFile</key>
		<string>/System/Applications/Photos.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>us.zoom.xos</string>
		<key>Name</key>
		<string>zoom.us</string>
		<key>NewFile</key>
		<string>/Applications/zoom.us.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.tsst.simplecomic</string>
		<key>Name</key>
		<string>Simple Comic</string>
		<key>NewFile</key>
		<string>/Applications/Simple Comic.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>TeXShop</string>
		<key>Name</key>
		<string>TeXShop</string>
		<key>NewFile</key>
		<string>/Applications/TeX/TeXShop.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Maps</string>
		<key>Name</key>
		<string>Maps</string>
		<key>NewFile</key>
		<string>/System/Applications/Maps.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.goodsnooze.MenuGPT</string>
		<key>Name</key>
		<string>MacGPT</string>
		<key>NewFile</key>
		<string>/Applications/MacGPT.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.freeform</string>
		<key>Name</key>
		<string>Freeform</string>
		<key>NewFile</key>
		<string>/System/Applications/Freeform.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.binarynights.ForkLift</string>
		<key>Name</key>
		<string>ForkLift</string>
		<key>NewFile</key>
		<string>/Applications/ForkLift.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.jinghaoshe.qspace.pro</string>
		<key>Name</key>
		<string>QSpace Pro</string>
		<key>NewFile</key>
		<string>/Applications/QSpace Pro.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>fr.handbrake.HandBrake</string>
		<key>Name</key>
		<string>HandBrake</string>
		<key>NewFile</key>
		<string>/Applications/HandBrake.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.DiskUtility</string>
		<key>Name</key>
		<string>Disk Utility</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Disk Utility.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.yourcompany.DSAssistant</string>
		<key>Name</key>
		<string>SynologyAssistant</string>
		<key>NewFile</key>
		<string>/Applications/SynologyAssistant.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.audacityteam.audacity</string>
		<key>Name</key>
		<string>Audacity</string>
		<key>NewFile</key>
		<string>/Applications/Audacity.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ScriptEditor2</string>
		<key>Name</key>
		<string>Script Editor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Script Editor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>app.mindmac.macos</string>
		<key>Name</key>
		<string>MindMac</string>
		<key>NewFile</key>
		<string>/Applications/MindMac.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.ActivityMonitor</string>
		<key>Name</key>
		<string>Activity Monitor</string>
		<key>NewFile</key>
		<string>/System/Applications/Utilities/Activity Monitor.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.brave.Browser</string>
		<key>Name</key>
		<string>Brave Browser</string>
		<key>NewFile</key>
		<string>/Applications/Brave Browser.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Automator</string>
		<key>Name</key>
		<string>Automator</string>
		<key>NewFile</key>
		<string>/System/Applications/Automator.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.planner5d.Planner-5D.macOS</string>
		<key>Name</key>
		<string>Planner 5D</string>
		<key>NewFile</key>
		<string>/Applications/Planner 5D.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>org.chromium.Thorium</string>
		<key>Name</key>
		<string>Thorium</string>
		<key>NewFile</key>
		<string>/Applications/Thorium.app</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>DavMail</string>
		<key>NewFile</key>
		<string>/Applications/DavMail.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.Dictionary</string>
		<key>Name</key>
		<string>Dictionary</string>
		<key>NewFile</key>
		<string>/System/Applications/Dictionary.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.vscodium</string>
		<key>Name</key>
		<string>VSCodium</string>
		<key>NewFile</key>
		<string>/Applications/VSCodium.app</string>
	</dict>
	<dict>
		<key>BundleIdentifier</key>
		<string>com.apple.iWork.Numbers</string>
		<key>Name</key>
		<string>Numbers</string>
		<key>NewFile</key>
		<string>/Applications/Numbers.app</string>
	</dict>
</array>
</plist>
